<!-- register -->
<section class="login_box_area section-margin">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="login_box_img">
					<div class="hover">
						<h4>¿Ya cuentas con una cuenta?</h4>
						<p>
							Cada dia tenemos nuevas ofertas para ti
							<br />
							¡mira nuestro catalogo!
						</p>
						<a class="button button-account" href="login.html"
							>Ingresar ahora</a
						>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="login_form_inner">
					<h3>Crear cuenta</h3>
					<form class="row login_form" action="#/" id="register_form">
						<div class="col-md-12 form-group">
							<input
								type="text"
								class="form-control"
								id="email"
								name="email"
								placeholder="Correo electronico"
								onfocus="this.placeholder = ''"
								onblur="this.placeholder = 'Correo electronico'"
							/>
						</div>
						<div class="col-md-12 form-group">
							<input
								type="text"
								class="form-control"
								id="password"
								name="password"
								placeholder="Contraseña"
								onfocus="this.placeholder = ''"
								onblur="this.placeholder = 'Contraseña'"
							/>
						</div>
						<div class="col-md-12 form-group">
							<input
								type="text"
								class="form-control"
								id="confirmPassword"
								name="confirmPassword"
								placeholder="Confirmar contraseña"
								onfocus="this.placeholder = ''"
								onblur="this.placeholder = 'Confirmar contraseña'"
							/>
						</div>
						<div class="col-md-12 form-group">
							<button
								type="submit"
								value="submit"
								class="button button-login w-100"
							>
								Registrarse
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
