<ul class="list-group list-group-flush rounded-3">
	<li class="list-group-item p-3">
		<p class="mb-0">Metodos de pago</p>
	</li>
	<li
		class="list-group-item d-flex justify-content-between align-items-center p-3"
	>
		<span class="text-primary font-italic">
			MasterCard
			<i class="ti-credit-card" style="color: #d19900"></i>
		</span>
		<p class="mb-0">************456</p>
	</li>
	<li
		class="list-group-item d-flex justify-content-between align-items-center p-3"
	>
		<span class="text-primary font-italic">
			Paypal
			<i class="ti-archive" style="color: #0274ca"></i>
		</span>
		<span class="mb-0">*****6879</span>
	</li>
</ul>