<div class="row">
	<div class="col-sm-3">
		<p class="mb-0">Nombre completo</p>
	</div>
	<div class="col-sm-9">
		<p class="text-muted mb-0">Michi Michael</p>
	</div>
</div>
<hr />
<div class="row">
	<div class="col-sm-3">
		<p class="mb-0">Correo</p>
	</div>
	<div class="col-sm-9">
		<p class="text-muted mb-0">drmichi@consultoriomichi.com</p>
	</div>
</div>
<hr />
<div class="row">
	<div class="col-sm-3">
		<p class="mb-0">Telefono</p>
	</div>
	<div class="col-sm-9">
		<p class="text-muted mb-0">(315) 234-5678</p>
	</div>
</div>
<hr />
<div class="row">
	<div class="col-sm-3">
		<p class="mb-0">Dirección</p>
	</div>
	<div class="col-sm-9">
		<p class="text-muted mb-0">United States - Miami</p>
	</div>
</div>
