<!-- single-product-->

<section class="container mt-4">
	<div class="row s_product_inner">
		<div class="col-lg-6">
			<div class="zoomArea">
				<img
					class="img-thumbnail border-0"
					src="img/product/product1.png"
					id="NZoomImg"
					data-NZoomscale="2"
					alt="product-image"
				/>
			</div>
		</div>
		<div class="col-lg-5 offset-lg-1">
			<div class="s_product_text">
				<h3>Agua saborizada de Tailandia</h3>
				<h2>$149.99</h2>
				<ul class="list">
					<li>
						<a class="active" href="#"
							><span>Categorias</span> : agua saborizada, en vaso</a
						>
					</li>
					<li>
						<a class="active" href="#"><span>Disponicle</span> : si</a>
					</li>
				</ul>
				<p>
					Bebida popular en ese país, que se elabora mezclando agua con diversos
					ingredientes para darle sabor. La mayoría de las aguas saborizadas
					tailandesas tienen un sabor dulce y refrescante, y a menudo se
					elaboran con frutas tropicales como la piña, la sandía, el coco y el
					mango.
				</p>
				<div class="product_count">
					<label for="qty">Cantidad:</label>
					<input
						type="text"
						name="qty"
						id="sst"
						size="2"
						maxlength="12"
						value="1"
						title="Quantity:"
						class="input-text qty"
					/>
					<a class="button primary-btn" href="#">Agregar al carrito</a>
				</div>
				<div class="card_area d-flex align-items-center">
					<a class="icon_btn" href="#">
						<img class="card-img" src="img/product/product-sm-1.png" alt="" />
					</a>
					<a class="icon_btn" href="#">
						<img class="card-img" src="img/product/product-sm-1.png" alt="" />
					</a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="product_description_area">
	<div class="container">
		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item">
				<a
					class="nav-link active"
					id="description-tab"
					data-bs-toggle="tab"
					href="#description"
					role="tab"
					aria-controls="description"
					aria-selected="true"
					>Descripción</a
				>
			</li>
			<li class="nav-item">
				<a
					class="nav-link"
					id="specs-tab"
					data-bs-toggle="tab"
					href="#specs"
					role="tab"
					aria-controls="specs"
					aria-selected="false"
					>Specificaciones</a
				>
			</li>
		</ul>
		<div class="tab-content" id="myTabContent">
			<div
				class="tab-pane fade show active"
				id="description"
				role="tabpanel"
				aria-labelledby="description-tab"
			>
				<p>
					Beryl Cook is one of Britain’s most talented and amusing artists
					.Beryl’s pictures feature women of all shapes and sizes enjoying
					themselves .Born between the two world wars, Beryl Cook eventually
					left Kendrick School in Reading at the age of 15, where she went to
					secretarial school and then into an insurance office. After moving to
					London and then Hampton, she eventually married her next door
					neighbour from Reading, John Cook. He was an officer in the Merchant
					Navy and after he left the sea in 1956, they bought a pub for a year
					before John took a job in Southern Rhodesia with a motor company.
					Beryl bought their young son a box of watercolours, and when showing
					him how to use it, she decided that she herself quite enjoyed
					painting. John subsequently bought her a child’s painting set for her
					birthday and it was with this that she produced her first significant
					work, a half-length portrait of a dark-skinned lady with a vacant
					expression and large drooping breasts. It was aptly named ‘Hangover’
					by Beryl’s husband and
				</p>
				<p>
					It is often frustrating to attempt to plan meals that are designed for
					one. Despite this fact, we are seeing more and more recipe books and
					Internet websites that are dedicated to the act of cooking for one.
					Divorce and the death of spouses or grown children leaving for college
					are all reasons that someone accustomed to cooking for more than one
					would suddenly need to learn how to adjust all the cooking practices
					utilized before into a streamlined plan of cooking that is more
					efficient for one person creating less
				</p>
			</div>
			<div
				class="tab-pane fade"
				id="specs"
				role="tabpanel"
				aria-labelledby="specs-tab"
			>
				<div class="table-responsive">
					<table class="table">
						<tbody>
							<tr>
								<td>
									<h5>Width</h5>
								</td>
								<td>
									<h5>128mm</h5>
								</td>
							</tr>
							<tr>
								<td>
									<h5>Height</h5>
								</td>
								<td>
									<h5>508mm</h5>
								</td>
							</tr>
							<tr>
								<td>
									<h5>Depth</h5>
								</td>
								<td>
									<h5>85mm</h5>
								</td>
							</tr>
							<tr>
								<td>
									<h5>Weight</h5>
								</td>
								<td>
									<h5>52gm</h5>
								</td>
							</tr>
							<tr>
								<td>
									<h5>Quality checking</h5>
								</td>
								<td>
									<h5>yes</h5>
								</td>
							</tr>
							<tr>
								<td>
									<h5>Freshness Duration</h5>
								</td>
								<td>
									<h5>03days</h5>
								</td>
							</tr>
							<tr>
								<td>
									<h5>When packeting</h5>
								</td>
								<td>
									<h5>Without touch of hand</h5>
								</td>
							</tr>
							<tr>
								<td>
									<h5>Each Box contains</h5>
								</td>
								<td>
									<h5>60pcs</h5>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- zoom image -->
<script src="libs/pan&zoom/Nzoom.min.js"></script>
