<div class="row d-flex justify-content-between">
    <div class="col-sm-9">
        <div class="input-group filter-bar-search">
            <input type="text" placeholder="Buscar por Id" />
            <div class="input-group-append">
                <button type="button" class="h-100">
                    <i class="ti-search"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <button
            type="button"
            class="btn btn-secondary mt-2"
            id="profile-general-tab"
            data-bs-toggle="tab"
            data-bs-target="#profile-general"
            role="tab"
        >
            <span>
                <i class="ti-back-left"></i>
                Volver
            </span>
        </button>
    </div>
</div>
<ul class="nav nav-tabs nav-tabs-custom mb-4">
    <li class="nav-item">
        <a class="nav-link p-3 fw-bold active" href="#">Cancelados</a>
    </li>
    <li class="nav-item">
        <a class="nav-link p-3 fw-bold" href="#">Devoluciones</a>
    </li>
    <li class="nav-item">
        <a class="nav-link p-3 fw-bold" href="#">Incompletos</a>
    </li>
</ul>
<table class="table table-hover table-responsive table-centered">
    <thead class="thead-light">
        <tr>
            <th>Reclamo Id</th>
            <th>Fecha</th>
            <th>Tipo</th>
            <th>Orden Id</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <a href="javascript: void(0);" class="text-dark fw-bold"
                    >#NZ1564</a
                >
            </td>
            <td>28 Mar, 2020</td>
            <td>
                <span class="text-decoration-underline">Cancelado</span>
            </td>
            <td>
                <span class="link-info">#NZ15632</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="javascript: void(0);" class="text-dark fw-bold"
                    >#NZ1564</a
                >
            </td>
            <td>28 Mar, 2020</td>
            <td>
                <span class="text-decoration-underline">Cancelado</span>
            </td>
            <td>
                <span class="link-info">#NZ15632</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="javascript: void(0);" class="text-dark fw-bold"
                    >#NZ1564</a
                >
            </td>
            <td>28 Mar, 2020</td>
            <td>
                <span class="text-decoration-underline">Cancelado</span>
            </td>
            <td>
                <span class="link-info">#NZ15632</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="javascript: void(0);" class="text-dark fw-bold"
                    >#NZ1564</a
                >
            </td>
            <td>28 Mar, 2020</td>
            <td>
                <span class="text-decoration-underline">Cancelado</span>
            </td>
            <td>
                <span class="link-info">#NZ15632</span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="javascript: void(0);" class="text-dark fw-bold"
                    >#NZ1564</a
                >
            </td>
            <td>28 Mar, 2020</td>
            <td>
                <span class="text-decoration-underline">Cancelado</span>
            </td>
            <td>
                <span class="link-info">#NZ15632</span>
            </td>
        </tr>
    </tbody>
</table>