<!-- cart -->
<section class="cart_area">
	<div class="container">
		<div class="cart_inner bg-white">
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Producto</th>
							<th scope="col">Precio</th>
							<th scope="col">Cantidad</th>
							<th scope="col">Total</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<div class="d-flex">
									<div class="d-flex" style="width: 180px; height: 90px">
										<img src="img/cart/cart1.png" alt="" />
									</div>
									<div class="media-body align-self-center">
										<p>Six pack de cervezas</p>
									</div>
								</div>
							</td>
							<td>
								<h5>$25.000</h5>
							</td>
							<td>
								<div class="product_count">
									<input
										type="text"
										name="qty"
										id="sst"
										maxlength="12"
										value="1"
										title="Quantity:"
										class="input-text qty"
									/>
								</div>
							</td>
							<td>
								<h5>$25.000</h5>
							</td>
						</tr>
						<tr>
							<td>
								<div class="d-flex">
									<div class="d-flex" style="width: 180px; height: 90px">
										<img src="img/cart/cart2.png" alt="" />
									</div>
									<div class="media-body align-self-center">
										<p>Bebida gaseosa en latada sabor limonada</p>
									</div>
								</div>
							</td>
							<td>
								<h5>$4.5000</h5>
							</td>
							<td>
								<div class="product_count">
									<input
										type="text"
										name="qty"
										id="sst"
										maxlength="12"
										value="3"
										title="Quantity:"
										class="input-text qty"
									/>
								</div>
							</td>
							<td>
								<h5>$13.500</h5>
							</td>
						</tr>
						<tr>
							<td>
								<div class="d-flex">
									<div class="d-flex" style="width: 180px; height: 90px">
										<img src="img/cart/cart3.png" alt="" />
									</div>
									<div class="media-body align-self-center">
										<p>Agua embotellada de manantial</p>
									</div>
								</div>
							</td>
							<td>
								<h5>$3.000</h5>
							</td>
							<td>
								<div class="product_count">
									<input
										type="text"
										name="qty"
										id="sst"
										maxlength="12"
										value="1"
										title="Quantity:"
										class="input-text qty"
									/>
								</div>
							</td>
							<td>
								<h5>$3.000</h5>
							</td>
						</tr>
						<tr class="bottom_button">
							<td>
								<a class="button" href="#">Ver más productos</a>
							</td>
							<td></td>
							<td>
								<h5>Subtotal</h5>
							</td>
							<td>
								<h5>$45.500</h5>
							</td>
						</tr>
						<tr class="out_button_area">
							<td></td>
							<td></td>
							<td></td>
							<td>
								<div class="checkout_btn_inner d-flex justify-content-end">
									<a class="primary-btn ml-2" href="#">Iniciar pedido</a>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>